<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service behaviorConfiguration="BalboaHotTubServiceBehaviour" name="BalboaHotTubController.BalboaHotTub">
        <endpoint address=""  binding="webHttpBinding" behaviorConfiguration="web" contract="BalboaHotTubController.IBalboaHotTub" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>

        <behavior name="BalboaHotTubServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False" httpHelpPageEnabled="false"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>

        <behavior name="web">
          <webHttp/>
        </behavior>

      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>

