<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BalboaHotTubController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service behaviorConfiguration="BalboaHotTubServiceBehaviour" name="BalboaHotTubController.BalboaHotTub">
        <endpoint address=""  binding="webHttpBinding" behaviorConfiguration="web" contract="BalboaHotTubController.IBalboaHotTub" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>

        <behavior name="BalboaHotTubServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False" httpHelpPageEnabled="false" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>

        <behavior name="web">
          <webHttp/>
        </behavior>

      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <userSettings>
    <BalboaHotTubController.Properties.Settings>
      <setting name="deviceId" serializeAs="String">
        <value>00000000-00000000-001527ff-ff2380b8</value>
      </setting>
    </BalboaHotTubController.Properties.Settings>
  </userSettings>
</configuration>

